[www]

listen = {{ php_fpm_address }}
listen.backlog = -1
listen.allowed_clients = {{ php_fpm_allowed }}
listen.owner = nginx
listen.group = nginx
listen.mode = 0666
user = vagrant
group = vagrant
pm = dynamic
pm.max_children = {{ php_fpm_max_children }}
pm.start_servers = {{ php_fpm_start_servers }}
pm.min_spare_servers = {{ php_fpm_min_spare }}
pm.max_spare_servers = {{ php_fpm_max_spare }}
pm.max_requests = {{ php_fpm_max_requests }}
pm.status_path = /ping
request_terminate_timeout = 120s
request_slowlog_timeout = 10s
slowlog = /var/log/php-fpm/www-slow.log
rlimit_files = 131072
rlimit_core = unlimited
php_admin_value[error_log] = /var/log/php-fpm/www-error.log
php_admin_flag[log_errors] = on